<!-- File: fragments/navbar.html -->
<div th:fragment="navbar">
    <nav>
        <ul>
            <!-- Admin Navbar -->
            <li th:if="${user != null and user.admin}"><a href="/admin_dashboard">User Records</a></li>
            <li th:if="${user != null and user.admin}"><a href="/settings">Settings</a></li>
            <li th:if="${user != null and user.admin}"><a href="/logout">Logout</a></li>

            <!-- User Navbar -->
            <li th:if="${user != null and !user.admin}"><a href="/dashboard">Home</a></li>
            <li th:if="${user != null and !user.admin}"><a href="/transaction">History</a></li>
            <li th:if="${user != null and !user.admin}"><a href="/settings">Settings</a></li>
            <li th:if="${user != null and !user.admin}"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <hr>
</div>
