<!-- File: src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Welcome to gCash Mod</h2>
    
    <form action="/login" method="post">
        <label>Username: <input type="text" name="username" required></label><br>
        <label>Password: <input type="password" name="password" required></label><br>
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="/register">Register here</a></p>

    </form>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
</body>
</html>
